.chatlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}
.chatlist_item {
  text-decoration: none;
  text-transform: capitalize;
}
.chatlist .form {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.chatlist .form #chat_input {
  padding: 10px;
}
.chatlist .form #chat_add {
  border-radius: 0 5px 5px 0;
  padding: 10px 25px;
}
