.header {
  background-color: white;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_links {
  display: flex;
}
.header_links_item {
  text-decoration: none;
  margin-right: 25px;
}
.header_links_item:hover {
  color: #1976d2;
  transition: 0.3s ease-out;
}
.header .switcher {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header .switcher_icon {
  font-size: 30px;
  transform: rotate(180deg) scale(1, 1.5);
  transition: 0.5s;
}
.header .switcher_icon_off {
  transform: rotate(0deg) scale(1, 1.5);
}
